<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Carrito de compras</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 mx-auto">
                <a type="button" class="btn btn-link" href="javascript:void(0)" (click)="goBack()">Regresar</a>
                <div class="row">    
                    <div class="col-md-12 col-sm-12">
                        @for(item of cartItems; track item.id; let last = $last) {
                            <div>
                                <img [src]="item.url" alt="" id="imgCart">
                                <p>{{ item.name }} - {{ item.quantity }} x {{ item.price | currency }} = {{ item.quantity*item.price | currency }}</p>
                                <button class="btn btn-primary" (click)="removeItem(item.id)">Eliminar</button>
                            </div>
                            @if(!last){
                                <hr>
                            }
                        }
                        @if(totalPrice > 0) {
                            <h3 class="mt-4">Total: {{ totalPrice | currency }}</h3>
                        }
                        @if(cartItems.length === 0) {
                            <h3>Carrito de compras vacio</h3>
                        }
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>