/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

/* The content area will expand to take up the available space */
.content {
    flex: 1;
}

/* Footer styling */
#footer {
    background-color: #4D4D4D;
    /* Adjusted footer background */
    color: #E0E0E0;
    padding: 20px;
    text-align: center;
}

#header {
    background-color: #333333;
    color: #FFFFFF;
}

/* Buttons */
.btn-primary {
    background-color: #FF0000;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #E60000;
}

.btn-secondary {
    background-color: #FFFFFF;
    color: #333333;
}

.btn-secondary:hover {
    background-color: #F2F2F2;
}

/* Icons */
.icon-primary {
    color: #FF0000;
}

.icon-secondary {
    color: #FFFFFF;
}

/* Content Area */
.content-area {
    background-color: #FAFAFA;
    color: #000000;
}

/* Borders */
.border-default {
    border-color: #666666;
}

/* Accents */
.accent {
    color: #FF6666;
}